
<html ng-app="app" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>All at hand | Añadir entrada o salida</title>
  <!-- Bootstrap core CSS-->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">
  <!-- material desing-->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

  <!--<script src="js/angular.min.js"></script>-->
</head>

<body ng-app="app" ng-controller="HttpGetController" class="bg-dark">
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Agregar una entrada o salida</div>
      <div class="card-body">
        <form>
          <div class="form-group">
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label>Tipo</label> </br>

              <p>Selected Value: <span class="radioValue">{{ data.group1 }}</span> </p>

              <md-radio-group ng-model="data.group1">
                  <md-radio-button value="entrada" class="md-primary">Entrada</md-radio-button>
                  <md-radio-button value="salida"> Salida </md-radio-button>
              </md-radio-group>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6">
            <md-input-container class="md-block" flex-gt-sm>
             <label>Cantidad</label>
             <input name="cantidad" ng-model="cantidad" placeholder="1000" required  md-maxlength="4">
             <div ng-messages="userForm.cantidad.$error" role="alert" multiple>
               <div ng-message="required" class="my-message">Debes ingresar una cantidad de producto.</div>
               </div>
               <div ng-message="md-maxlength" class="my-message">
                     Estas exediendo el limite disponible
               </div>
          </div>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Producto</label>
            <md-select ng-model="producto_id">
              <md-option  ng-repeat="producto in productos" value="{{producto.id}}">
                    {{producto.nombre}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
          <button class="btn btn-primary btn-block" ng-click="SendData()" href="entradas_salidas.html">Crear entrada o salida</a>
        </form>
      </div>
    </div>
  </div>
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <script>
    var app = angular.module("app", ['ngMaterial']);
    app.controller("HttpGetController", function ($scope, $http) {
      $scope.tipo="salida"

      $scope.cargar_productos = function() {
        $http.get("api/api.php/productos"/*http://allathand.org/api/api.php/productos*/)
              .then(function (response) {
             $scope.productos = response.data;
             console.log(response.data);
           });
      }

      $scope.cargar_productos()


        $scope.SendData = function () {
          var data = {
              tipo: $scope.tipo,
              cantidad:$scope.cantidad,
              id_productos:$scope.producto_id,
              hora:new Date(),
            }

            console.log(data)

            $http.post('api/api.php/entradas_salidas', data)/*http://allathand.org/api/api.php/productos*/
            .then(function successCallback(response) {
              // this callback will be called asynchronously
              // when the response is available
              $scope.PostDataResponse = response;
              console.log(response)
            }, function errorCallback(response) {
              // called asynchronously if an error occurs
              // or server returns response with an error status.
              console.log('Hubo un error endemoniado')
            });

        };

    });

</script>
  <!-- Bootstrap core JavaScript-->

  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

</body>

</html>
