
<html  lang="en" ng-app="allathand">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>All at hand | Modificar producto</title>
  <!-- Bootstrap core CSS-->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

</head>

<body ng-controller="main" class="bg-dark">
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Modificar producto</div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputName">Nombre del producto</label>
               <input ng-model="nombre" name="nombre" class="form-control" id="exampleInputName" type="text" aria-describedby="nameHelp" placeholder="nombre del producto">
              </div>
              <div class="col-md-6">
                <label for="exampleInputLastName">Tipo</label>
              <input ng-model="tipo" name="tipo" class="form-control" id="exampleInputLastName" type="text" aria-describedby="nameHelp" placeholder="Ingrese el tipo de producto" >
              </div>
            </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Descripción</label>
          <input ng-model="descripcion" name="descripcion" class="form-control" id="exampleInputEmail1" type="text" aria-describedby="nameHelp" placeholder="Descripcion del producto">
          </div>
          <a class="btn btn-primary btn-block"  ng-click="SendData()" href="productos.html" >Modificar producto</a>
        </form>
      </div>
    </div>
  </div>
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <script>
  function getGET()
{
    // capturamos la url
    var loc = document.location.href;
    // si existe el interrogante
    if(loc.indexOf('?')>0)
    {
        // cogemos la parte de la url que hay despues del interrogante
        var getString = loc.split('?')[1];
        // obtenemos un array con cada clave=valor
        var GET = getString.split('&');
        var get = {};
        // recorremos todo el array de valores
        for(var i = 0, l = GET.length; i < l; i++){
            var tmp = GET[i].split('=');
            get[tmp[0]] = unescape(decodeURI(tmp[1]));
        }
        console.log(get);
        return get;

    }
}
  </script>


<script>
      var app = angular.module('allathand', []);
      app.controller('main', function($scope, $http) {
         getGET()
         var id=getGET();
         var id2=id["q"];


          $http.get("api/api.php/productos/"+id2)/*http://allathand.org/api/api.php/productos*/
          .then(function (response) {$scope.nombre=response.data['nombre'],
                                    $scope.tipo=response.data['tipo'],
                                    $scope.existencia=response.data['existencia']
                                    $scope.descripcion=response.data['descripcion'];
          console.log(response.data)});

          $scope.SendData = function () {
            var data = {
                  nombre: $scope.nombre,
                  tipo: $scope.tipo,
                  descripcion:$scope.descripcion
              }

              console.log(data)

              $http.put('api/api.php/productos/'+id2, data)
              .then(function successCallback(response) {
                // this callback will be called asynchronously
                // when the response is available
                $scope.PostDataResponse = response;
                console.log(response)
              }, function errorCallback(response) {
                // called asynchronously if an error occurs
                // or server returns response with an error status.
                console.log('Hubo un error endemoniado')
              });

          };
      });
</script>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>
