
<html lang="en" ng-app="allathand">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>All at hand | Lista de productos</title>
  <!-- Bootstrap core CSS-->
  <link rel="stylesheet"; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">

  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">

  <script src="js/angular.min.js"></script>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top" ng-controller="main">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">

    <a class="navbar-brand" href="">All at hand</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="tables.html">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Productos</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="entradas_salidas.html">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">entradas y salidas</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a>All at hand</a>
        </li>
        <li class="breadcrumb-item active">Productos</li>
      </ol>
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i>productos</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered"  width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>id</th>
                  <th>Nombre</th>
                  <th>Tipo</th>
                  <th>Existencia</th>
                  <th>Descripción</th>
                  <th>Acciones</th>
                </tr>
              </thead>
                <tr ng-repeat="producto in productos">
                  <td>{{producto.id}}</td>
                  <td>({{producto.id}}) {{producto.nombre}}</td>
                  <td>{{producto.tipo}}</td>
                  <td>{{producto.existencia}}</td>
                  <td>{{producto.descripcion}}</td>
                  <th><div><a class="btn btn-block" href="modificar_producto.html?q={{producto.id}}">Modificar producto</a></div><div><a class="btn btn-block" ng-click="delete_data(producto.id)" href="">Archivar producto</a></div></th>
                </tr>

            </table>
            <div> <a class="btn btn-primary btn-block" href="anadir_producto.html">Crear producto</a></div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © all at hand 2017</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <script>
          var app = angular.module('allathand', []);
          app.controller('main', function($scope, $http) {
             $scope.delete_data=function(id){
               $http.delete("api/api.php/productos/"+id/*http://allathand.org/api/api.php/productos*/)
                .then(function (response) {
                    console.log(response.data)
                    $scope.cargar_productos()
               }, function errorCallback(){
                   console.log('Hubo un error')
                 });
               console.log(id)
             }

             $scope.cargar_productos = function() {
               $http.get("api/api.php/productos"/*http://allathand.org/api/api.php/productos*/)
                 .then(function (response) {
                    $scope.productos = response.data;
                    console.log(response.data);
                  });
             }

             $scope.cargar_productos()
   
          });
    </script>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="js/sb-admin-datatables.min.js"></script>


  </div>
</body>

</html>
